
@{
    ViewBag.Title = "Testimonials_Page";
}
<br />
<div class="jumbotron">
    <table>
        <tr>
            <td colspan="3">
                <h1 class="text-center">Champlain College Computer Science Program</h1>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <h4 class="text-center">
                    Testimonials from our most successful students...
                </h4>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Content/images/amin pic.jpg" style="width: 100px; height: 100px;"/>
            </td>
            <td colspan="2">
                <h2>&nbsp;&nbsp;Amin Meslioui</h2>
                <p>&nbsp;&nbsp;I really loved computer science because of my girl Samia. Miss you .</p>
            </td>
        </tr>
        <tr><td><br /></td></tr>
        <tr>
            <td>
                <img src="~/Content/images/dylan pic.jpg" style="width: 100px; height: 100px;" />
            </td>
            <td colspan="2">
                <h2>&nbsp;&nbsp;Dylan Pita</h2>
                <p>&nbsp;&nbsp;As the best computer science student this college has ever see, apply.</p>
            </td>
        </tr>
    </table>
    <br />
    <br />
</div>

