
@{
    ViewBag.Title = "Semester5_Page";
}
<br />
<br />
<br />
<br />
<br />
    <div class="jumbotron">
        <table>
            <tr>
                <td>
                    <h1 class="text-center">Champlain College Computer Science Program</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Database Administration and Security</li>
                        <li>Mobile Application Dev 2:IOS</li>
                        <li>Final Project 1</li>
                        <li>Azure for SQL Dev with ASP.NET and MVC</li>
                        <li>Desgin and Prototyping of Connected Devices</li>
                        <li>Professional Integration and High-Tech Entrepreneuship</li>
                        <li>Complementary</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

