
@{
    ViewBag.Title = "Home_Page";
}
    <div class="jumbotron">
        <table>
            <tr>
                <td colspan="3">
                    <h1 class="text-center">Champlain College Computer Science Program</h1>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <h5>
                        &nbsp; &nbsp; &nbsp;Computer Science Technology is a three-year career program designed to provide you with a strong background
                        in object-oriented methodology, particularly in program design and system analysis. Web concepts
                        are integrated into a majority of courses and focus on the development of dynamic database-driven
                        web applications on a variety of operating system platforms. The program will focus on computer programming, operating systems, database and web technology,
                        data communication and networking, security and advanced programming languages.
                    </h5>
                </td>
            </tr>
            <tr class="text-center">
                <td colspan="3">
                    <h2>Program Template</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Semester 1</h3>
                    <ul>
                        <li>ComputingIT Fundamentals</li>
                        <li>Object Oriented Programming with Java 1 </li>
                        <li>User ExperienceWeb Interface Design</li>
                        <li>Math for Computer Science</li>
                        <li>English</li>
                        <li>Humanities</li>
                        <li>French</li>
                        <li>Physical Education</li>
                    </ul>
                </td>
                <td>
                    <h3>Semester 2</h3>
                    <ul>
                        <li>Configuring Computers</li>
                        <li>Object Oriented Programming with Java 2 </li>
                        <li>Operating Systems using Linux</li>
                        <li>Web Programming and JS Libraries</li>
                        <li>Project Management with Quantitative Methods</li>
                        <li>English</li>
                        <li>French</li>
                        <li>Humanities</li>
                    </ul>
                </td>
                <td>
                    <h3>Semester 3</h3>
                    <ul>
                        <li>Database Design and Introduction to SQL</li>
                        <li>Networking and Security</li>
                        <li>.NET Development</li>
                        <li>Java Web Programming</li>
                        <li>Introduction to IoT </li>
                        <li>Fundamentals of Business</li>
                        <li>English</li>
                        <li>Physical Education</li>
                        <li>Complementary</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Semester 4</h3>
                    <ul>
                        <li>Web Dev with PHP</li>
                        <li>System Analysis and Design</li>
                        <li>Mobile Application Dev 1 : Android</li>
                        <li>Game Dev</li>
                        <li>English</li>
                        <li>Humanities</li>
                        <li>Physical Education</li>
                    </ul>
                </td>
                <td>
                    <h3>@Html.ActionLink("Semester 5", "Semester5Page")</h3>
                    <ul>
                        <li>Database Administration and Security</li>
                        <li>Mobile Application Dev 2:IOS</li>
                        <li>Final Project 1</li>
                        <li>Azure for SQL Dev with ASP.NET and MVC</li>
                        <li>Desgin and Prototyping of Connected Devices</li>
                        <li>Professional Integration and High-Tech Entrepreneuship</li>
                        <li>Complementary</li>
                    </ul>
                </td>
                <td>
                    <h3>Semester 6</h3>
                    <ul>
                        <li>Final Project 2</li>
                        <li>Intership</li>
                        <li>Managing Big Data for Connected Devices</li>
                        <li>Comprehensive Assessment</li>
                    </ul>
                </td>
            </tr>
        </table>

        <br />
        <br />
    </div>